<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!--<bean id="compactDisc" class="soundsystem.BlankDisc" c:_0="Sgt. Pepper's Lonely Hearts Band Club"-->
          <!--c:_1="The Beatles" c:tracks-ref="trackList">-->
    <!--</bean>-->
    <util:list id="trackList">
        <value>Sgt. Pepper's Lonely Hearts Club Band</value>
        <value>With a Little Help from My Friends</value>
        <value>Lucy in the Sky with Diamonds</value>
        <value>Getting Better</value>
        <value>Fixing a Hole</value>
        <!-- ...other tracks omitted for brevity... -->
    </util:list>

    <bean id="compactDiscP" class="soundsystem.BlankDisc" p:title="Sgt. Pepper's Lonely Hearts Band Club" p:author="The Beatles" p:tracks-ref="trackList">
    </bean>


    <bean id="cdPlayer" class="soundsystem.CDPlayer"  c:cd-ref="compactDiscP">
        <!--<constructor-arg ref="compactDisc"/>-->
    </bean>

</beans>